<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="technical-skills" id="technical-skills" class="panel panel-primary technical-skills"  >
    <div class="panel-heading">
        <i class="fa fa-code" aria-hidden="true"></i>
        <span>Technical Skills</span>
        <a href="#" class="edit">
            <i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>
                    Category
                </th>
                <th>Frameworks and technologies
                </th>
            <tr>
                <td>
                    Languages
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    Java
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    IDE
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    CVS
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    Web Servers
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    Build system
                </td>
                <td>
                    ????
                </td>
            </tr>
            <tr>
                <td>
                    Cloud
                </td>
                <td>
                    ????
                </td>
            </tr>

        </table>
    </div>
</div>

</html>